<% if (files) { %> <% files.map(file => { %>
<div class="data file" id="<%= file.id %>">
  <div class="icon">
    <span class="material-symbols-outlined"> draft </span>
  </div>
  <div class="file-name-container">
    <span class="file-name">
      <% if (expires) { %>
      <span
        ><a href="/drive/share/file/<%= expires%>/<%=file.id%>"
          ><%= file.name %></a
        ></span
      >
      <% } else { %>
      <span><a href="/drive/file/<%=file.id%>"><%= file.name %></a></span>
      <% }%>
    </span>
  </div>
</div>
<% }) %> <% } else { %> <%- include('InvalidPage') %> <% } %>
