<% if (files) { %> <% files.map(file => { %>
<div class="data file" id="<%= file.id %>">
  <div class="icon-container grid-row">
    <div class="icon-title-container">
      <span class="material-symbols-outlined"> draft </span>
      <% if (expires) { %>
      <span
        ><a href="/drive/share/file/<%= expires%>/<%=file.id%>"
          ><%= file.name %></a
        ></span
      >
      <% } else { %>
      <span><a href="/drive/file/<%=file.id%>"><%= file.name %></a></span>
      <% }%>
    </div>
    <span class="file-size"><%= Math.round(file.size * 0.001) %> KB</span>
    <span class="file-created-at"><%= file.createdAt.toDateString() %></span>
  </div>
</div>
<% }) %> <% } else { %> <%- include('InvalidPage') %> <% } %>
