<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheet/main.css" />
    <script src="/scripts/dialogControl.js" defer></script>
  </head>
  <body>
    <header></header>
    <main>
      <% if (locals.errors) { %> <%- include('./partials/errors', {errors:
      errors}) %> <% } else { %>
      <section class="file-details-section">
        <% if (file) { %>
        <div class="file-container file">
          <div class="file-title">
            <h3><%= file.name %></h3>
          </div>
          <div class="file-details">
            <p>Size: <%= Math.round(file.size * 0.001) %> KB</p>
            <p>File Created: <%= file.createdAt %></p>
          </div>
          <div class="file-buttons">
            <% if (expires) { %>
            <form
              action="/drive/share/file/download/<%=file.id%>"
              method="post"
            >
              <button type="submit">
                <span class="material-symbols-outlined">download</span>
              </button>
            </form>
            <% } else { %>
            <button type="button" class="delete-btn file" id="<%= file.id %>">
              <span class="material-symbols-outlined">delete</span>
            </button>
            <form action="/drive/file/download/<%=file.id%>" method="post">
              <button type="submit">
                <span class="material-symbols-outlined">download</span>
              </button>
            </form>
            <% } %>
          </div>
        </div>
        <% } else { %>
        <div class="error-container">
          <p>File not found</p>
        </div>
        <% } %>
      </section>
      <%-include('./partials/folder_delete') %> <% }%>
    </main>
  </body>
</html>
