<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheet/main.css" />
    <script src="/scripts/dialogControl.js" defer></script>
    <script src="/scripts/elementsClickControl.js" type="module" defer></script>
    <script src="/scripts/toolbarControl.js" type="module" defer></script>
  </head>
  <body>
    <% if (locals.errors) { %> <%- include('./partials/errors', {errors:
    errors}) %> <% } else { %>
    <header><h1>CludUp - Drive</h1></header>
    <%- include('./partials/navbar') %>
    <main>
      <%-include('./partials/toolbar') %>
      <section class="menu-buttons">
        <% if (currentFolder.parentId) { %>

        <button>
          <span class="material-symbols-outlined">
            <a href="/drive/<%=currentFolder.parentId%>">arrow_back</a></span
          >
        </button>

        <% } %>
      </section>
      <section class="data-section">
        <div class="category-container">
          <span>Name: </span>
          <span>Size: </span>
          <span>Created: </span>
        </div>
        <%- include('./partials/folder', {currentFolder: currentFolder}) %> <%-
        include('./partials/file', {files: files}) %>
      </section>
      <%- include('./partials/modal', {currentFolder: currentFolder, }) %>
      <%-include('./partials/folder_delete') %> <%-
      include('./partials/upload_modal', {currentFolder: currentFolder}) %>
      <%-include('./partials/folder_share_modal') %> <%}%>
    </main>
  </body>
  <footer></footer>
</html>
